<template name="footer">
	<footer class="footer">
		<div>
				<p class="text-muted margin-top-20 text-center">
						FastX v{{VERSION}} &copy; 2018<br />
						ABN: 25 623 098 064
						<br />
						<a href="https://linkedin.com/company/fastx" target="_blank" class="svg-social">
							<i class="fab fa-linkedin"></i>
						</a>
						<a href="https://www.facebook.com/fastxcrypto" target="_blank" class="svg-social">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="https://twitter.com/fastxcrypto" target="_blank" class="svg-social">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="https://www.instagram.com/fastxcrypto" target="_blank" class="svg-social">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="https://t.me/fastxcrypto" target="_blank" class="svg-social">
							<i class="fab fa-telegram-plane"></i>
						</a>
						<br />
						<a class="text-muted" href="/disclosure">
							<small>Product disclosure</small>
						</a>
					</p>
		</div>
	</footer>
</template>
