<template name="loader">
  <div id="loading" class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
  </div>
  <br />
  <h6 class="text-center" style="width: 150px;margin-left: auto;margin-right: auto;text-align: center;">{{getLoadingText}}</h6>
</template>

<template name="loader_mini">
    <div id="loading" class="cssload-thecube" style="width:22px!important; height:22px!important; margin-top:0;">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
    </div>
</template>

<template name="loader_tiny">
    <div id="loading" class="cssload-thecube" style="width:12px!important; height:12px!important; margin-top:0;">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
    </div>
</template>
