<template name="tick">
  <style type="text/css">
    .green {
      stroke: #159425a8;
    }
    .circ {
      opacity: 0;
      stroke-dasharray: 130;
      stroke-dashoffset: 130;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }
    .tickClass {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
      -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
      -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
      -o-transition: stroke-dashoffset 1s 0.5s ease-out;
      transition: stroke-dashoffset 1s 0.5s ease-out;
    }
    .drawn + svg .path {
      opacity: 1;
      stroke-dashoffset: 0;
    }
  </style>
  <div class="trigger"></div>
  <svg version="1.1" class="tickClass green" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 37 37" style="enable-background:new 0 0 37 37; width:125px;" xml:space="preserve">
  <path class="circ path green" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
    M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
    />
  <polyline class="tickClass path green" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
    11.6,20 15.9,24.2 26.4,13.8 "/>
  </svg>
</template>
